.react-multiple-carousel__arrow {
  background-color: #007bff !important;
  padding: 20px;
}
.carousel-item-padding-40-px {
  margin: 20px;
}

@media (max-width: 768px) {
  .carousel-item-padding-40-px {
    margin: 0px;
    padding: 0 50px;
  }
}
